@font-face {
    font-family: 'Courier New';
    src:  url('../fonts/CourierNewBold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Verdana';
    src:  url('../fonts/VerdanaBold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Verdana';
    src:  url('../fonts/Verdana.woff2') format('woff2');
    font-weight: 400;
}
