* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input {
    box-sizing: border-box;
}
div.container {
    width: 960px;
    margin: 0 auto;
}


body {
    min-width: 1200px;


}

h1, h2, h3 {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;


}




/* header */
header {
    padding-top: 54px;
    height: 700px;
    background-color: #222222;
}

header nav{
    height: 62px;
    display: flex;
    align-items: center;
}

header nav div.menu_items {
    width: 258px;
    margin-left: 62px;


}
header nav div.contact_icons {
    width: 58px;
}

header nav div.menu_items ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    }

header nav div.menu_items .menu_item_link{
    color: #D4D4D4;
    text-decoration: none;

}
header nav div.menu_items .menu_item_link:hover {
    color: white;

}

.contact_icons {
    display: flex;
    width: 58px;
    justify-content: space-between;
    margin-left: 518px;

}
.contact_icons img {
    width: 17px;
}

.header_content {
    margin-top: 43px;
    margin-left: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .header_content_caption {
    font-size: 14px;
    line-height: 17px;


    color: #D4D4D4;
}

.header_description {
    width: 254px;
}

.header_description h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 51px;
    color: white;
}

.header_content_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 50px;
    padding: 0 22px 0 38px;

    margin-top: 54px;

    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-decoration: none;

    color: #000000;

    background: #FFCB06;
    border-radius: 25px;
}



section.advantages {
    height: 321px;
    background: #131313;
}

/* main */
section.advantages .container{

    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 85px;

}

.advantages-item{
    width: 157px;
}

.advantages-item .advantages-caption{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D4D4D4;
    margin-top: 34px;


}

section.content{
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 80px;

}
section.content .content_wrapper{
    display: grid;
    grid-template-columns: 454px 454px;
    grid-column-gap: 79px;
    grid-row-gap: 52px;
    grid-template-rows: 346px 215px;

}

section.content .content_list {
    margin-top: 27px;
    /*lesson 1*/
    /*list-style-position: inside;*/
    padding-left: 18px;
}



section.content .content_list_item {
    color: #FFCB06;
    margin-bottom: 23px;
    font-size: 20px;


}
section.content .content_list_item span {
    color: #000;
    font-size: 14px;
    line-height: 10px;
}


section.form{

    height: 477px;
    background: #F0F0F0;
    padding: 100px 0 68px 0;
}
section.form .form-wrapper {
    display: flex;
    justify-content: space-between;
}

section.form .form-description {
    width: 340px;
}

section.form form div {
    max-width: 440px;
    display: grid;
    grid-template-columns: 215px 215px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
}

section.form form .long-field{
    grid-column-start: 1;
    grid-column-end: 3;
}
section.form form input{
    padding-left: 20px;
    border: none;
}

.checkbox {

    margin-top: 19px;
    margin-left: 0;

}

.form__button {
    width: 215px;
    height: 50px;

    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    color: #FFFFFF;
}

section.form form input::placeholder{

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;


}



section.form .form-description p {
    margin-top: 60px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

/* schedule table */
section.schedule{
    padding: 100px 0 85px 0;
    min-height: 468px;
    background: #222222;

}







section.schedule .table-description {
    display: flex;
    justify-content: space-between;

}

section.schedule .table-description .schedule-header {
    width: 160px;

}
section.schedule .table-description .schedule-text {
    width: 470px;

}

section.schedule .schedule-header{
    font-family: 'Courier New';
    font-style: normal;
    font-size: 24px;
    line-height: 27px;

    color: #FECA30;

}
section.schedule .schedule-text{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #D4D4D4;

}

section.schedule .schedule-text .schedule-text-link{

    color: #FECA30;;


}






table.schedule-table {
    margin-top: 77px;
    width: 100%;
    color: #FFFFFF;
    border-collapse: collapse;

}



table.schedule-table td, table.schedule-table th {
    width: 25%;
    padding: 15px 0 15px 15px;
    text-align: left;
    font-weight: 400;
    /*border-bottom: 1px solid #555555;*/
}

table.schedule-table tr.regular-row{
    border-bottom: 2px solid #555555;
}
table.schedule-table tr.header-row{
    background-color: #111;
}





/* footer */
footer {
    background: #131313;
    height: 354px;
    padding-top: 60px;
    font-family: 'Verdana';
}
footer .left-column .logo-box {
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-box{
    display: flex;
    justify-content: space-between;
}

footer .left-column .logo-box .caption {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #D4D4D4;


}

footer .left-column .copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 110px;
    color: #555555;
}

footer .right-column {
    width: 700px
}
footer .right-column ul.footer-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}




footer .right-column ul.footer-menu ul.footer-submenu {
    color: #888888;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 58px;
    width: 180px;
    height: 95px;
    justify-content: space-between;


}

footer .right-column ul.footer-menu  .subheader {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #D4D4D4;

}
footer .right-column ul.footer-menu  .subheader::after {
    content: '';
    display: block;
    width: 160px;
    margin-top: 13px;
    height: 2px;
    background: #555;
}


