@import "nullstyles.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


%average-text-style {
  font-family: 'Verdana';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #D4D4D4;


}


h1, h2, h3 {
  font-family: 'Courier New';
}


.container {
  max-width: 1020px;
  margin: 0 auto;
}


// главный header на странице
header.general-header {
  padding-top: 54px;
  height: 700px;
  background-color: #222222;


  .general-menu {
    height: 62px;
    display: flex;
    align-items: center;


    .general-menu__navigation {
      flex: 0 0 258px;
      margin-left: 62px;
      display: flex;
      justify-content: space-between;

      .general-menu__link {
        transition-duration: 1s;
        display: block;
        color: #D4D4D4;
        text-decoration: none;

        &:hover {
          transition-duration: 1s;
          transform: scale(1.2);
        }
      }


    }

    .general-menu__contact-links {
      display: flex;
      gap: 24px;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 1 0 58px;

    }
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-content__image {
    transition-duration: 2s;

    &:hover {
      transition-duration: 2s;
      transform: scale(0.8) rotate(360deg);
    }

  }


  .header-content__description {
    width: 254px;
    margin-top: 43px;
    margin-left: 126px;


  }

  .header-content__caption {
    font-size: 14px;
    line-height: 17px;

    color: #D4D4D4;
  }

  .general-header {
    font-size: 45px;
    color: white;
  }

  .header-content__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 50px;
    padding: 0 22px 0 38px;
    font-family: 'Verdana';
    margin-top: 54px;

    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    color: #000;

    background: #FFCB06;
    border-radius: 25px;
  }


}

// main
//advantages
section.advantages {
  height: 321px;
  background: #131313;
  padding-top: 85px;


  .advantages__box {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .advantages-item {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 157px;
    height: 157px;

    .advantages-item__image {
      width: 60px;
    }

    .advantages-item__caption {
      @extend %average-text-style
    }

  }
}


// content
section.content {
  padding: 90px 0;


  .content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 346px  204px;
    grid-column-gap: 79px;
    grid-row-gap: 52px;

    .content__description {
      display: flex;
      flex-direction: column;
      gap: 44px;

      .content__paragraphs {
        @extend %average-text-style;
        color: #000000;

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }

    .advices {
      display: flex;
      flex-direction: column;
      gap: 34px;

      .advices__list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .advices__item {
        @extend %average-text-style;
        color: #000;

        .advices__text {
          display: block;
          padding-left: 2em;
        }

      }

      .advices__item::before {
        display: block;
        content: "";
        margin-top: 0.25em;

        position: absolute;
        border-radius: 50%;
        height: 0.6em;
        width: 0.6em;
        background-color: #FECA30;

      }


    }


  }

}

section.form {
  background: #F0F0F0;
  padding: 75px 0;

  .form__wrapper {
    display: flex;
    justify-content: space-between;

    .form__description {
      width: 318px;

      .form__text {
        margin-top: 60px;
        @extend %average-text-style;
        color: #000;
      }

    }

    .contact-form {
      width: 440px;

      .contact-form__fields {
        border: none;
        display: grid;
        padding: 0;
        grid-auto-rows: 50px;
        grid-template-columns: 1fr 1fr;
        gap: 8px;


        .contact-form__field {
          border: none;
          outline: none;
          @extend %average-text-style;
          color: #131313;
          padding-left: 23px;
        }

        .contact-form__field_long {
          grid-column: 1/3;
        }


      }

      .checkbox {
        display: flex;
        gap: 1.5em;
        align-items: center;
        margin-top: 20px;

        .checkbox__input {
          -webkit-appearance: none;
          appearance: none;
          position: absolute;

        }

        .checkbox__input {
          content: "";
          height: 1em;
          width: 1em;
          background-image: url("../icons/checkbox/checkbox_unchecked.svg");


        }

        .checkbox__input:checked {
          background-image: url("../icons/checkbox/checkbox_checked.svg");
        }


      }


      .contact-form__button {

        margin-top: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 215px;
        height: 50px;
        padding: 0 25px;
        @extend %average-text-style;
        color: #FFF;
        background: #222222;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
      }


    }
  }


}











