@import "nullstyles.scss";
@import "adaptive.scss";

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


%average-text-style {
  font-family: 'Verdana';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #D4D4D4;
}


h1, h2, h3 {
  font-family: 'Courier New';
}


.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 16px;
}


// главный header на странице
header.general-header {
  padding: 54px 0 100px 0;
  background-color: #222222;


  .general-menu {
    height: 62px;
    display: flex;
    align-items: center;

    @include for-phone-only {
      display: none;
    }


    .general-menu__navigation {
      flex: 0 0 258px;
      margin-left: 62px;
      display: flex;
      justify-content: space-between;

      .general-menu__link {
        transition-duration: 1s;
        display: block;
        color: #D4D4D4;
        text-decoration: none;

        &:hover {
          transition-duration: 1s;
          transform: scale(1.2);
        }
      }


    }

    .general-menu__contact-links {
      display: flex;
      gap: 24px;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 1 0 58px;

    }
  }

  .header-content {
    display: grid;
    grid-template-columns: 370px minmax(100px, 438px);
    justify-content: space-between;
    gap: 90px;

    @include for-tablet {
      grid-template-columns: 1fr;

    }


    .header-content__description {
      //margin-top: 43px;
      //margin-left: 126px;
      padding: 43px 0 0 126px;

      @include for-tablet {
        padding: 43px 126px 0 126px;
      }

      h1 {
        font-size: 45px;
        color: white;
      }

      .header-content__caption {
        @extend %average-text-style;
        margin-top: 30px;
      }


      .header-content__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
        height: 50px;
        padding: 0 22px 0 38px;
        font-family: 'Verdana';
        margin-top: 54px;

        font-size: 14px;

        text-decoration: none;

        color: #000;

        background: #FFCB06;
        border-radius: 25px;
      }


    }


    .header-content__image {
      transition-duration: 2s;
      max-width: 100%;

      &:hover {
        transition-duration: 2s;
        transform: scale(0.8) rotate(360deg);
      }

      @include for-tablet {
        display: none;

      }

    }

  }


}


// main
//advantages
section.advantages {
  background: #131313;
  padding: 75px 0;


  .advantages__box {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 80px;


    @include for-tablet {

    }

    @include for-phone-only {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
    //@media (max-width: 420px) {
    //  justify-content: space-between;
    //  column-gap: 0;
    //}


    .advantages__column {
      display: flex;
      justify-content: space-between;
      gap: 80px;


      @include for-tablet {
        gap: 20px;
        justify-content: space-between;
      }
      @include for-phone-only {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      }

      .advantages-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        word-wrap: break-word;

        @include for-tablet {
          &:nth-child(2) {

          }

        }


        .advantages-item__image {
          width: 60px;
        }


        .advantages-item__caption {
          @extend %average-text-style
        }


      }

    }


  }


}


// content
section.content {
  padding: 90px 0;


  .content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-column-gap: 79px;
    grid-row-gap: 52px;

    @include for-phone-only {
      grid-template-columns: 1fr;
    }

    .content__map {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
      @include for-phone-only {
        grid-row: 2/3;
      }
    }

    .content__description {
      display: flex;
      flex-direction: column;
      gap: 44px;

      .content__paragraphs {
        @extend %average-text-style;
        color: #000000;

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;


      }

    }

    .advices {
      display: flex;
      flex-direction: column;
      gap: 34px;

      .advices__list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .advices__item {
        @extend %average-text-style;
        color: #000;

        .advices__text {
          display: block;
          padding-left: 2em;
        }

      }

      .advices__item::before {
        display: block;
        content: "";
        margin-top: 0.25em;

        position: absolute;
        border-radius: 50%;
        height: 0.6em;
        width: 0.6em;
        background-color: #FECA30;

      }


    }


  }

}

section.form {
  background: #F0F0F0;
  padding: 75px 0;

  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;

    @include for-phone-only {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .form__description {
      max-width: 318px;
      @include for-phone-only {
        max-width: none;
      }

      .form__text {
        margin-top: 20px;
        @extend %average-text-style;
        color: #000;
      }

    }

    .contact-form {
      max-width: 440px;
      min-width: 25%;
      flex-shrink: 2;

      @include for-phone-only {
        max-width: none;
      }


      .contact-form__fields {
        border: none;
        display: grid;
        padding: 0;
        grid-auto-rows: 50px;
        grid-template-columns: 1fr 1fr;
        gap: 8px;


        .contact-form__field {
          width: 100%;
          border: none;
          outline: none;
          @extend %average-text-style;
          color: #131313;
          padding-left: 23px;
        }

        .contact-form__field_long {
          grid-column: 1/3;
        }


      }

      .checkbox {
        display: flex;
        gap: 1.5em;
        align-items: center;
        margin-top: 20px;

        .checkbox__input {
          -webkit-appearance: none;
          appearance: none;
          position: absolute;

        }

        .checkbox__input {
          content: "";
          height: 1.2em;
          width: 1.2em;
          background-image: url("../icons/checkbox/checkbox_unchecked.svg");


        }

        .checkbox__input:checked {
          background-image: url("../icons/checkbox/checkbox_checked.svg");
        }


      }


      .contact-form__button {

        margin-top: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 215px;
        height: 50px;
        padding: 0 25px;
        @extend %average-text-style;
        color: #FFF;
        background: #222222;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;

        @include for-phone-only {
          margin-top: 36px;
        }
      }


    }
  }


}

section.schedule {
  padding: 75px 0;
  background: #222;
  color: #D4D4D4;


  .schedule__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;


    @include for-phone-only {
      grid-template-columns: 1fr;
      column-gap: 0;
    }


    .schedule__header {
      color: #FECA30;
    }

    .schedule__text {
      @extend %average-text-style;

      .schedule__link {
        color: #FECA30;
      }

      @include for-phone-only {
        margin-top: 40px;
      }


    }

    .schedule__table-wrapper {
      overflow-x: auto;
      width: 100%;
      grid-column: 1/3;
      @include for-phone-only {
        grid-column: auto;
      }

    }

    .schedule-table {

      margin-top: 78px;
      width: 100%;

      @extend %average-text-style;

      @include for-phone-only {
        grid-column: 1/2;

      }


      border-collapse: collapse;

      .schedule-table__row {

        overflow-x: scroll;


        .schedule-table__cell {
          height: 50px;
          width: 25%;
          text-align: left;
          padding-left: 17px;
          font-weight: 700;

          &:last-child {
            padding-right: 17px;
          }

        }
      }

      .schedule-table__row_header {
        background: #111;

      }

      .schedule-table__row_regular {
        border-bottom: 2px solid #555;

      }

    }


  }
}

footer.general-footer {
  padding: 60px 0;
  background: #131313;
  @extend %average-text-style;

  @include for-tablet {
    display: none;
  }

  .footer-general__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    .footer-general__copyright {
      flex: 0 1 162px;

      .footer-general__logo-box {
        width: 134px;


        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-general__logo {

        }

        .footer-general__caption {

        }
      }

      .copyright {
        margin-top: 110px;
        color: #555555;
      }
    }

    .footer-general__menu {
      padding-top: 23px;
      flex: 0 1 700px;
      display: flex;
      justify-content: space-between;

      .footer-general__subheader {
        font-family: "Verdana";

        &::after {

          content: "";
          display: block;
          height: 2px;
          background: #555;
          margin-top: 12px;
        }
      }

      .footer-general__submenu {
        margin-top: 58px;
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 21px;

        .footer-general__menu-item {
          color: #888;
        }

      }


    }

  }

}







